.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    .facebook-icon {
        fill: var(--primary-color) !important;
        margin-right: 10px;
    }
}

.middle {
    .icons {
        display: flex;
        list-style: none;
        padding-right: 110px;
    }
}

.right {
    display: flex;
    align-items: center;
    width: 204px;
    padding: 0 16px 0 4px;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}
