.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);

    .slider {
        width: 590px;
        height: 282px;
        padding: 8px 0;
    }
}
