.wrapper.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.wrapper.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tippy-menu {
    background-color: #fff;
    width: 320px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 6px 3px;


    .tippy-item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 7px;

        &:hover {
            background-color: #f6f7fa;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
        }

        .icon {
            height: 40px;
            width: 50px;
            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #e4e6eb;
            }
        }

        .title {
            font-weight: 500;
        }
    }
}
