
.wrapper.icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}


.wrapper.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
