.wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    width: 500px;
    height: 123px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 12px 16px 10px;
    margin-bottom: 10px;

    .post {
        display: flex;
        align-items: center;

        .create-post {
            background-color: var(--background-color);
            width: 420px;
            height: 40px;
            border-radius: 20px;
            padding: 8px 12px;
            color: #65676b;
            display: flex;
            align-items: center;
            font-weight: 200;
            cursor: pointer;

            &:hover {
                background-color: #e6e7ec;
            }
        }
    }

    .actions {
        border-top: 1px solid #e4e6eb;
        margin-top: 12px;
        padding-top: 8px;
        height: 48px;
        display: flex;

        .actions-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            height: 40px;
            padding: 8px;
            color: #65676b;
            font-weight: 500;

            .icon {
                margin-right: 8px;
            }
        }
    }

    .modal {
        .title {
            height: 60px;
            text-align: center;
            line-height: 60px;
            position: relative;
        }

        .close-icon {
            width: 36px;
            height: 36px;
            background-color: #e4e6eb;
            color: #767c84;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            cursor: pointer;

            &:hover {
                background-color: #d8dce4;
            }
        }

        .content {
            text-align: center;
            .user-info {
                margin: 0 16px;
                padding: 16px 0;
                display: flex;
                align-items: center;
                border-top: 1px solid #d8dce4;

                .avatar {
                    margin-right: 8px;
                    border-radius: 50%;
                }
            }

            .search {
                padding: 0 16px 20px 16px;
                .search-input {
                    width: 100%;
                    display: block;
                    height: 300px;
                    border: 0;
                    outline: 0;
                    resize: none;
                    font-size: 20px;

                    &::placeholder {
                        font-size: 22.5px;
                    }

                    /* Track */
                    &::-webkit-scrollbar {
                        width: 7px; /* width of the scrollbar */
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #bdbbbb; /* color of the scrollbar handle */
                        border-radius: 6px; /* roundness of the scrollbar handle */
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #cbced4; /* color of the scrollbar handle when hovered */
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; /* color of the scrollbar track */
                    }

                    /* Track on hover */
                    &::-webkit-scrollbar-track:hover {
                        background: #ddd; /* color of the scrollbar track when hovered */
                    }
                }
            }

            .upload-btn {
                width: 438px;
                height: 36px;
                border-radius: 7px;
                border: 0;
                color: #ffffff;
                background-color: #0866ff;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}